# Config for a DGX-1 P100 reporting to production schema.
test_harness: 'tf_cnn_benchmark'
test_environment: 'brain-lab'
# System basics
platform: 'NVIDIA'
platform_type: 'DGX-1 (P100)'

# Build type info
channel: NIGHTLY
build_type: OTB

# reporting
report_auth: 'brain_lab_benchmarks.json'
report_project: 'google.com:tensorflow-performance'
report_dataset: 'benchmark_results'
report_table: 'result'

# tf-cnn-benchmarks
tf_cnn_bench_configs:
  - benchmark_harness/oss_bench/test_runners/tf_cnn_bench/configs/dgx_p100.yaml
  - benchmark_harness/oss_bench/test_runners/tf_cnn_bench/configs/dgx_p100_real.yaml

tf_models_tests:
  - 'resnet50_128_gpu_1'
  - 'resnet50_128_gpu_2'
  - 'resnet50_128_gpu_4'
  - 'resnet50_128_gpu_8'
  - 'resnet50_128_gpu_1_real'
  - 'resnet50_128_gpu_2_real'
  - 'resnet50_128_gpu_4_real'
  - 'resnet50_128_gpu_8_real'
